<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h2>CarsTable</h2>
<table border="1" style="width:400px">

    <thead>
    <tr>
        <th> Name</th>
        <th> Series</th>
        <th> Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td align="left"><span th:text="${car.name}"> Name </span></td>
        <td align="center"><span th:text="${car.series}"> Series </span></td>
        <td align="center"><span th:text="${car.country}"> Country </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>